<h3 style="margin-top:0px;margin-bottom:0px;text-transform: uppercase;">Object Template</h3>
<div style="margin-top:0;margin-top:10px;;">
	Sample JSON for this object
</div>
<div>
<pre class="prettyprint" id="object-template" data-content-type="application/json">{{#json this}}{{/json}}</pre>
</div>
<div>
	<button class="btn btn-xs btn-primary open-window-button hidden-xs hidden-sm" data-source-id="object-template" data-title="Object Template">
	<i class="glyphicon glyphicon-new-window"></i>
	</button>
	<button class="btn btn-xs btn-primary copy-button" data-source-id="object-template" data-feedback-id="object-copy-success">
	<i class="glyphicon glyphicon-copy"></i>
	</button>
	<span class="text-success" id="object-copy-success" style="display:none">
	Object template copied
	</span>
</div>